@font-face {
    font-family: bsb_smallcap;
    src: url(fonts/bsb_smallcap.ttf);
}

body {
    height: 100%;
    background-color: #0a905d;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.holder {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.title {
    font-family: bsb_smallcap;
    color: white;
    font-size: 4em;
    letter-spacing: 0.2em;
}

.social {
    margin-top: 25px;
}

.socialIcon {
    width: 10%;
}

.fade-in {
  animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
