@font-face {
    font-family: bsb_smallcap;
    src: url(fonts/bsb_smallcap.ttf);
}

body {
    background-color: #0a905d;
    text-align: center;
    padding: 25%;
}

.title {
    font-family: bsb_smallcap;
    color: white;
    font-size: 4em;
    letter-spacing: 0.2em;
}

.fade-in {
  animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social {
    margin-top: 25px;
}

.socialIcon {
    width: 10%;
}