@font-face {
    font-family: bsb_smallcap;
    src: url(fonts/bsb_smallcap.ttf);
}

body {
    background-color: #0a905d;
    text-align: center;
    padding: 25%;
}

h1 {
    font-family: bsb_smallcap;
    color: white;
}